 <div class="container" style="color:red;position:fixed;top:0px;">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2">
          <i class="fa fa-phone" aria-hidden="true"></i><span style="margin-left:10px">12345667787</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2">
          <i class="fa fa-envelope" aria-hidden="true"></i><span style type="margin-left:10px">ismail@yahoo.com</span>
        </div>
      </div>
    </div>


    <div  class="navbar-wrapper" >
      <div class="container">

        <nav class="navbar navbar-inverse  navbar-fixed-top" style="margin-top: 20px;background-color: #5a5c51;color:white">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Zeemar Travels</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a  href="#myCarousel">Home</a></li>
                <li><a href="#abt">About</a></li>
                <li><a href="#about">Flight or Hotel Booking</a></li>
                <li><a href="#train">Training</a></li>
                <li><a href="#myCarousel">Packages</a></li>
                <li><a href="#myCarousel">Visa</a></li>
                <li><a href="#myCarousel">Insurance</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
